.btn-group {
    margin-top: 20px;
}

.btn-light {
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0,0,0, .15);
}

.btn-outline-light {
    color:black;
}